@model string
@{
    ViewBag.Title = "Ошибка";
}

<div style="height: 660px;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;" class="jumbotron">
    <div>
        <h1>Извините, произошла непредвиденная ошибка!</h1>
        @if (User.IsInRole("superuser"))
        {
            <div class="p-3 mb-2 bg-warning text-white">
                <h5>@Model</h5>
            </div>
        }
    </div>
    <p>
    <p class="lead"></p>

</div>