@using ApiSystemArchiveDoc.Models;
@using Microsoft.AspNetCore.Http;

<div class="modal fade" id="file-modal" tabindex="-1" role="dialog" aria-labelledby="file-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="file-modal-label">Загрузить файл</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" class="form-control-file" id="storeObject-Id" name="storeObjectId">
                    </div>
                    <div class="form-group">
                        <label for="file-input">Выберите файл</label>
                        <input type="file" class="form-control-file" id="file-input" name="file">
                    </div>
                    <div class="form-group">
                        <label for="file-type">Тип файла</label>
                        <select class="form-control" id="file-type" name="fileType">
                            <option value="Pud">ПУД</option>
                            <option value="Tehnics">Техничка</option>
                            <option value="Other">Другое</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="file-category">Категория</label>
                        <input type="text" class="form-control" id="file-category" name="fileCategory">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Загрузить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
