@page
@model RegisterModel
@{
    ViewData["Title"] = "Добавить пользователя";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr/>
            <div class="form-floating checkbox mb-4">
                <label asp-for="Input.IsLock" class="form-label">
                    <input class="form-check-input mb-4" asp-for="Input.IsLock" />
                    Учетная запись заблокирована
                </label>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="on" aria-required="true"
                       placeholder="name@example.com"/>
                <label asp-for="Input.Email">Почта</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true"
                       placeholder="Имя"/>
                <label asp-for="Input.FirstName">Имя</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Фамилия"/>
                <label asp-for="Input.LastName">Фамилия</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Patronymic" class="form-control" autocomplete="username" aria-required="true"
                       placeholder="Отчество"/>
                <label asp-for="Input.Patronymic">Отчество</label>
                <span asp-validation-for="Input.Patronymic" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Department" class="form-control" autocomplete="username" aria-required="true"
                       placeholder="Отдел"/>
                <label asp-for="Input.Department">Отдел</label>
                <span asp-validation-for="Input.Department" class="text-danger"></span>
            </div>

            <div class="form-floating checkbox mb-4">
                <label asp-for="Input.IsAdministrator" class="form-label">
                    <input class="form-check-input mb-4" asp-for="Input.IsAdministrator" />
                    Роль администратора
                </label>
            </div>
            <div class="form-floating checkbox mb-4">
                <label asp-for="Input.IsArchiver" class="form-label">
                    <input class="form-check-input mb-4" asp-for="Input.IsArchiver" />
                    Роль архивариуса
                </label>
            </div>
            <div class="form-floating checkbox mb-4">
                <label asp-for="Input.IsController" class="form-label">
                    <input class="form-check-input mb-4" asp-for="Input.IsController" />
                    Роль лица руководителя группы
                </label>
            </div>оо
            
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
                       placeholder="Пароль"/>
                <label asp-for="Input.Password">Пароль</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                       aria-required="true" placeholder="Пароль"/>
                <label asp-for="Input.ConfirmPassword">Подтвердить пароль</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Сохранить</button>
        </form>
    </div>
</div>


