@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account", new {}, FormMethod.Post,
        true,
        new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <div class = "nav-link"> @User.Identity.Name</div>
                    
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Identity/Account/Logout">Выйти</a>
            </li>
        </ul>
    }
}
else
{

    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="~/Identity/Account/Login">Выполнить вход</a>
        </li>
    </ul>
}